@import "tailwindcss";

/* Habilita o modo escuro via classe .dark */
@variant dark (&:where(.dark, .dark *));

/* Configuração do Layout */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Configuração de Cores (Usando variáveis do Tailwind v4) */
body {
  /* Modo Claro */
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  transition: background-color 0.3s, color 0.3s;
}

.dark body {
  /* Modo Escuro */
  background-color: var(--color-slate-900);
  color: var(--color-slate-100);
}